/******************************
 * Detail card with border and shadow 
 */
.weekly-menu-card-style
{
	border: 1px solid #000;
	padding: .5em 1em;
	background-color: #F7F7F7;
	box-shadow:.3em .3em .3em gray;
	font-size: .9em;
	/* overflow: auto; */
	margin: 1em;
}
.weekly-menu-card-style.table-style
{
	padding: 0;
}
.weekly-menu-card-style .report-type
{
	float: left;
	margin: .5em .5em .5em 0;
}
.weekly-menu-card-style.table-style .csmd-table
{
	width: 100%;
}
.weekly-menu-card-style table td
{
	padding: 0;
}
.weekly-menu-card-style label
{
	color: #54b407;
	width: auto;
	min-width: 6em;
	display: inline-block;
}
.weekly-menu-card-style textarea
{
	width:100%;
	height:5em;
	margin-bottom: .5em;
}
.weekly-menu-card-style h3, .weekly-status-report-fix h3
{
	font-size: 1.3em;
	margin: 0 0 .25em 0;
	color: #305500;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.weekly-menu-card-style h4
{
	font-size: 1.2em;
	margin: 0 0 .25em 0;
	color: #0c2577;
}
.weekly-menu-card-style fieldset
{
    vertical-align: top;
}
.weekly-menu-card-style fieldset article
{
	margin: .5em;
	font-size: 1.1em;
}