.web-landing-header
{
    position: absolute;
    top: 0;
	height: 5em;
    left: 0;
    right: 0;
    background-color: #ffffff;
}
.web-landing-header-header {
	position: relative;
	/* background-image: url("img/fondo-home.jpg"); */
	background: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%), url('img/fondo-home.jpg') no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))), url('img/fondo-home.jpg') no-repeat;
	background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('img/fondo-home.jpg') no-repeat;
	background: -o-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('img/fondo-home.jpg') no-repeat;
	background: -ms-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('img/fondo-home.jpg') no-repeat;
	background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url('img/fondo-home.jpg') no-repeat;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.web-landing-header-header-title {
	display: table;
	height: 4em;
	vertical-align: middle;
	cursor: pointer;
}
.web-landing-header-header img
{
	display: table-cell;
	height: 1.5em;
	vertical-align: middle;
	cursor: pointer;
	margin: .8em .5em .8em .5em;
}
.web-landing-header-header label1
{
	color: #ff7200;
	font-size: 1.2em;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 70%;
	overflow: hidden;
}
.web-landing-header-header span {
	text-align: right;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: .8em;
	background: rgba(255, 255, 255, .5);
	padding-right: .5em;
	color: #000000;
}
.web-landing-header-line2 {
	position: absolute;
    top: 2.5em;
	height: 5px;
    left: 0;
    right: 0;
	background: #dde5ff;
	width:99%;
	margin-left: 0.6%;
}
.web-landing-header-line1 {
	position: absolute;
    top: 2.5em;
	height: 1px;
    left: 0;
    right: 0;
	background: #0c2577;
	width:99%;
	margin-left: 0.5%;
}
.web-landing-header-rhs
{
    position: absolute;
    top: .25em;
    right: .5em;
    color: #0C2577;
    text-align: right;
    white-space: nowrap;
	text-overflow: ellipsis;
	width: 15%;
	overflow: hidden;
}
.web-landing-header-info
{
	list-style-type: none;
	margin: 0;
	padding: 0
}
.web-landing-header-info li
{
	display: inline-block;
	border-right: 1px solid #000000;
}
.web-landing-header-info span
{
	padding-right: .25em;
}
.web-landing-header-info li:last-child
{
	border-right: none;
}
.web-landing-header-info-buname
{
    padding-right: .25em;
}
.web-landing-header-info-easter-egg
{
    position: absolute;
	top: 1em;
	width: 1em;
	left: 6em;
	height: 1em;
	cursor: none;
}

/******************************
 * Landing page - menubar
 */

.web-landing-header-menubar
{
	position: absolute;
    top: 2.8em;
	height: 1.9em;
    left: 0;
    right: 0;
	width:100%;
	display: table;
}
.csmd-header-title-message {
	font-size: .8em;
	padding-left: .3em;
	color: #0C2577;
}
.web-landing-header-menubar h1
{
	display: table-cell;
	margin: 0;
	font-size: 1em;
	color: #0c2577;
	padding-left: .5em;
	vertical-align: middle;
}
.web-landing-header-menubar-line {
	position: relative;
	height: 1.5em;
    left: 0;
    right: 0;
    bottom: 0;
	background: #305500;
	
	text-align: right;
	padding-right: .5em;
	color: #fff;
}

.web-landing-header-menubar-line .phone {
	color: #ffc600;
	font-weight: bold;
}
.web-landing-header-menubar-iconbox
{
	display: table-cell;
	color: #ffffff;
	vertical-align: middle;
}
.web-landing-header-menubar-iconbox .att-icon
{
	width: 1em;
}
.web-landing-header-menubar-iconbox > span
{
	margin: 0 .1em;
	font-size: 1.5em;
}
.web-landing-header-menubar-lhs
{
	text-align: left;
	width: 2em;
}
.web-landing-header-menubar-rhs
{
	text-align: right;
}